In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into dataframes

In [2]:
#read and confirm files from emissions dataset
emission1980_file = "annual_aqi_by_county_1980.csv"
emission1985_file = "annual_aqi_by_county_1985.csv"
emission1990_file = "annual_aqi_by_county_1990.csv"
emission1995_file = "annual_aqi_by_county_1995.csv"
emission2000_file = "annual_aqi_by_county_2000.csv"
emission2005_file = "annual_aqi_by_county_2005.csv"
emission2010_file = "annual_aqi_by_county_2010.csv"
emission2014_file = "annual_aqi_by_county_2014.csv"

emission1980_data_df = pd.read_csv(emission1980_file)
emission1985_data_df = pd.read_csv(emission1985_file)
emission1990_data_df = pd.read_csv(emission1990_file)
emission1995_data_df = pd.read_csv(emission1995_file)
emission2000_data_df = pd.read_csv(emission2000_file)
emission2005_data_df = pd.read_csv(emission2005_file)
emission2010_data_df = pd.read_csv(emission2010_file)
emission2014_data_df = pd.read_csv(emission2014_file)

In [3]:
#join the emissions dataset
emission_all_df = pd.concat((emission1980_data_df ,emission1985_data_df, emission1990_data_df, emission1995_data_df, \
                  emission2000_data_df, emission2005_data_df, emission2010_data_df, emission2014_data_df), join="outer")
emission_all_df.head(-10)

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,Alabama,Autauga,1980,179,122,35,18,4,0,0,177,108,40,0,0,122,57,0,0
1,Alabama,Colbert,1980,274,127,45,63,39,0,0,200,165,56,0,0,0,274,0,0
2,Alabama,Jackson,1980,366,85,110,92,79,0,0,200,200,94,0,0,0,366,0,0
3,Alabama,Jefferson,1980,343,171,109,37,19,7,0,221,140,51,207,0,136,0,0,0
4,Alabama,Lauderdale,1980,274,120,58,77,19,0,0,200,139,56,0,0,0,274,0,0
5,Alabama,Madison,1980,344,154,125,60,5,0,0,185,112,56,28,168,148,0,0,0
6,Alabama,Mobile,1980,286,180,62,35,8,1,0,204,119,41,0,0,68,218,0,0
7,Alabama,Monroe,1980,90,63,14,7,6,0,0,200,122,40,0,0,90,0,0,0
8,Alabama,Morgan,1980,332,207,93,32,0,0,0,148,100,39,0,121,28,183,0,0
9,Alabama,Tuscaloosa,1980,132,94,28,10,0,0,0,147,93,38,0,0,132,0,0,0
10,Alaska,Anchorage,1980,366,205,116,18,14,13,0,280,126,44,366,0,0,0,0,0
11,Alaska,Fairbanks North Star,1980,356,239,80,24,10,3,0,210,103,33,356,0,0,0,0,0
12,Alaska,North Slope,1980,92,92,0,0,0,0,0,42,33,28,1,15,76,0,0,0
13,Alaska,Valdez-Cordova,1980,364,329,29,6,0,0,0,124,50,36,0,27,186,151,0,0
14,Arizona,Cochise,1980,359,122,38,55,144,0,0,200,200,117,43,0,60,256,0,0
15,Arizona,Coconino,1980,283,228,54,1,0,0,0,101,59,40,151,0,132,0,0,0
16,Arizona,Gila,1980,366,88,4,57,217,0,0,200,200,173,0,0,0,366,0,0
17,Arizona,Greenlee,1980,366,72,57,45,192,0,0,200,200,181,0,0,125,241,0,0
18,Arizona,Maricopa,1980,362,93,164,74,24,7,0,227,147,79,184,5,172,1,0,0
19,Arizona,Pima,1980,366,17,159,140,50,0,0,200,169,101,51,118,100,97,0,0
20,Arizona,Pinal,1980,342,179,7,64,92,0,0,200,200,39,0,0,0,342,0,0
21,Arizona,Yavapai,1980,25,16,8,1,0,0,0,108,58,47,25,0,0,0,0,0
22,Arizona,Yuma,1980,270,191,50,21,8,0,0,182,105,29,151,0,119,0,0,0
23,Arkansas,Crittenden,1980,250,212,28,10,0,0,0,148,69,14,0,0,0,250,0,0
24,Arkansas,Pulaski,1980,366,264,56,28,17,1,0,202,115,38,0,27,331,8,0,0
25,California,Alameda,1980,366,237,106,15,4,4,0,232,89,40,33,226,107,0,0,0
26,California,Butte,1980,353,281,68,4,0,0,0,126,68,38,22,150,181,0,0,0
27,California,Colusa,1980,31,30,1,0,0,0,0,67,28,16,0,0,31,0,0,0
28,California,Contra Costa,1980,366,211,111,36,7,1,0,219,105,47,13,192,111,50,0,0
29,California,El Dorado,1980,366,188,155,21,2,0,0,153,92,50,175,26,165,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1014,Wisconsin,Eau Claire,2014,354,308,46,0,0,0,0,93,52,35,0,0,205,0,149,0
1015,Wisconsin,Fond du Lac,2014,194,165,27,2,0,0,0,105,58,40,0,0,194,0,0,0
1016,Wisconsin,Forest,2014,364,333,31,0,0,0,0,87,49,35,0,0,294,5,65,0
1017,Wisconsin,Grant,2014,361,293,67,1,0,0,0,109,57,30,0,0,0,0,361,0
1018,Wisconsin,Jefferson,2014,195,161,30,4,0,0,0,126,64,42,0,0,195,0,0,0
1019,Wisconsin,Kenosha,2014,363,223,130,10,0,0,0,136,73,44,0,0,181,0,182,0
1020,Wisconsin,Kewaunee,2014,202,176,25,1,0,0,0,129,54,39,0,0,202,0,0,0
1021,Wisconsin,La Crosse,2014,358,310,48,0,0,0,0,98,55,37,0,0,197,0,161,0
1022,Wisconsin,Manitowoc,2014,201,180,20,1,0,0,0,119,51,38,0,0,201,0,0,0
1023,Wisconsin,Marathon,2014,194,179,14,1,0,0,0,101,49,38,0,0,194,0,0,0
1024,Wisconsin,Milwaukee,2014,365,234,126,5,0,0,0,129,71,44,0,18,145,0,200,2
1025,Wisconsin,Oneida,2014,361,289,31,39,2,0,0,159,105,4,0,0,0,361,0,0
1026,Wisconsin,Outagamie,2014,365,257,105,3,0,0,0,111,63,41,0,0,149,0,216,0
1027,Wisconsin,Ozaukee,2014,358,290,62,6,0,0,0,119,62,37,0,0,187,0,171,0
1028,Wisconsin,Rock,2014,195,162,28,5,0,0,0,119,61,40,0,0,195,0,0,0
1029,Wisconsin,Sauk,2014,365,306,56,3,0,0,0,115,54,36,0,0,169,0,193,3
1030,Wisconsin,Sheboygan,2014,201,161,35,5,0,0,0,129,71,41,0,0,201,0,0,0
1031,Wisconsin,Taylor,2014,365,322,43,0,0,0,0,93,53,36,0,0,276,0,89,0
1032,Wisconsin,Vilas,2014,208,190,17,1,0,0,0,112,48,35,0,0,180,0,28,0
1033,Wisconsin,Walworth,2014,193,159,30,4,0,0,0,140,61,40,0,0,193,0,0,0
1034,Wisconsin,Waukesha,2014,356,258,95,3,0,0,0,112,64,41,0,0,120,0,235,1
1035,Wyoming,Albany,2014,365,282,83,0,0,0,0,93,64,46,0,0,319,0,6,40
1036,Wyoming,Big Horn,2014,352,325,27,0,0,0,0,71,49,40,0,0,304,0,43,5
1037,Wyoming,Campbell,2014,365,262,102,1,0,0,0,109,58,44,0,60,160,5,24,116
1038,Wyoming,Carbon,2014,365,316,42,3,4,0,0,200,55,43,0,5,341,14,0,5
1039,Wyoming,Converse,2014,365,309,56,0,0,0,0,87,54,42,0,6,304,0,2,53
1040,Wyoming,Fremont,2014,365,304,60,1,0,0,0,105,54,44,0,0,343,0,22,0
1041,Wyoming,Goshen,2014,139,136,3,0,0,0,0,66,35,20,0,0,0,0,139,0
1042,Wyoming,Johnson,2014,114,112,2,0,0,0,0,64,19,6,0,0,0,0,114,0
1043,Wyoming,Laramie,2014,364,291,73,0,0,0,0,97,61,44,0,10,319,0,32,3

In [4]:
#read and confirm files from mortality dataset
mortality_file = "mort.csv"
mortality_data_df = pd.read_csv(mortality_file)
mortality_data_df.head()

,Location,FIPS,Category,"Mortality Rate, 1980*","Mortality Rate, 1980* (Min)","Mortality Rate, 1980* (Max)","Mortality Rate, 1985*","Mortality Rate, 1985* (Min)","Mortality Rate, 1985* (Max)","Mortality Rate, 1990*",...,"Mortality Rate, 2005* (Max)","Mortality Rate, 2010*","Mortality Rate, 2010* (Min)","Mortality Rate, 2010* (Max)","Mortality Rate, 2014*","Mortality Rate, 2014* (Min)","Mortality Rate, 2014* (Max)","% Change in Mortality Rate, 1980-2014","% Change in Mortality Rate, 1980-2014 (Min)","% Change in Mortality Rate, 1980-2014 (Max)"
0,United States,NaN,Neonatal disorders,9.18,8.83,9.93,6.91,6.73,7.36,6.09,...,4.55,3.75,3.43,3.85,3.32,3.02,3.45,-63.85,-68.95,-61.55
1,Alabama,1.0,Neonatal disorders,11.03,10.57,12.00,8.51,8.25,9.12,7.52,...,6.52,5.58,5.16,5.78,5.10,4.67,5.32,-53.82,-60.08,-50.77
2,"Autauga County, Alabama",1001.0,Neonatal disorders,9.58,8.37,11.02,7.50,6.56,8.58,6.76,...,6.30,4.83,4.19,5.49,4.56,3.96,5.21,-52.43,-60.01,-46.16
3,"Baldwin County, Alabama",1003.0,Neonatal disorders,8.75,7.86,9.81,6.54,5.88,7.27,5.76,...,5.03,4.02,3.53,4.48,3.68,3.25,4.08,-57.97,-64.96,-52.87
4,"Barbour County, Alabama",1005.0,Neonatal disorders,12.30,10.64,14.15,9.26,8.13,10.60,8.12,...,7.89,5.99,5.16,6.84,5.43,4.63,6.24,-55.86,-62.49,-50.32

### Transform mortality dataframe

In [5]:
# edit county names in mortality dataset
mortality_data_df['test']= mortality_data_df.Location.replace({' County':''}, regex=True)
mortality_data_df['final'] = mortality_data_df['test'].str.split(pat=',').str[0]
mortality_data_df.head()

,Location,FIPS,Category,"Mortality Rate, 1980*","Mortality Rate, 1980* (Min)","Mortality Rate, 1980* (Max)","Mortality Rate, 1985*","Mortality Rate, 1985* (Min)","Mortality Rate, 1985* (Max)","Mortality Rate, 1990*",...,"Mortality Rate, 2010* (Min)","Mortality Rate, 2010* (Max)","Mortality Rate, 2014*","Mortality Rate, 2014* (Min)","Mortality Rate, 2014* (Max)","% Change in Mortality Rate, 1980-2014","% Change in Mortality Rate, 1980-2014 (Min)","% Change in Mortality Rate, 1980-2014 (Max)",test,final
0,United States,NaN,Neonatal disorders,9.18,8.83,9.93,6.91,6.73,7.36,6.09,...,3.43,3.85,3.32,3.02,3.45,-63.85,-68.95,-61.55,United States,United States
1,Alabama,1.0,Neonatal disorders,11.03,10.57,12.00,8.51,8.25,9.12,7.52,...,5.16,5.78,5.10,4.67,5.32,-53.82,-60.08,-50.77,Alabama,Alabama
2,"Autauga County, Alabama",1001.0,Neonatal disorders,9.58,8.37,11.02,7.50,6.56,8.58,6.76,...,4.19,5.49,4.56,3.96,5.21,-52.43,-60.01,-46.16,"Autauga, Alabama",Autauga
3,"Baldwin County, Alabama",1003.0,Neonatal disorders,8.75,7.86,9.81,6.54,5.88,7.27,5.76,...,3.53,4.48,3.68,3.25,4.08,-57.97,-64.96,-52.87,"Baldwin, Alabama",Baldwin
4,"Barbour County, Alabama",1005.0,Neonatal disorders,12.30,10.64,14.15,9.26,8.13,10.60,8.12,...,5.16,6.84,5.43,4.63,6.24,-55.86,-62.49,-50.32,"Barbour, Alabama",Barbour

### Drop columns in both dataframes

In [26]:
# drop unnecessary columns (min/max)
emission_cols = ["County", "Unhealthy Days", "Very Unhealthy Days", "Hazardous Days", "Max AQI", "Median AQI", "Days SO2", "Days PM2.5"]
emission_clean_df = emission_all_df[emission_cols].copy()
emission_clean_df = emission_clean_df.rename(columns={"County":"county", "Unhealthy Days":"unhealthy_days", 
                                                      "Very Unhealthy Days":"very_unhealthy_days", 
                                                      "Hazardous Days":"hazardous_days", "Max AQI":"max_aqi", 
                                                      "Median AQI":"median_aqi","Days SO2":"days_so2", 
                                                      "Days PM2.5":"days_pm25"})
emission_clean_df.set_index("county", inplace=True)
emission_clean_df.head()

,unhealthy_days,very_unhealthy_days,hazardous_days,max_aqi,median_aqi,days_so2,days_pm25
county,,,,,,,
Autauga,4,0,0,177,40,57,0
Colbert,39,0,0,200,56,274,0
Jackson,79,0,0,200,94,366,0
Jefferson,19,7,0,221,51,0,0
Lauderdale,19,0,0,200,56,274,0

In [22]:
mortality_data_df = mortality_data_df.dropna(how="any")
mortality_data_df
mortality_data_df2 = mortality_data_df[mortality_data_df['FIPS']>1000]
mortality_data_df2.head()

,Location,FIPS,Category,"Mortality Rate, 1980*","Mortality Rate, 1980* (Min)","Mortality Rate, 1980* (Max)","Mortality Rate, 1985*","Mortality Rate, 1985* (Min)","Mortality Rate, 1985* (Max)","Mortality Rate, 1990*",...,"Mortality Rate, 2010* (Min)","Mortality Rate, 2010* (Max)","Mortality Rate, 2014*","Mortality Rate, 2014* (Min)","Mortality Rate, 2014* (Max)","% Change in Mortality Rate, 1980-2014","% Change in Mortality Rate, 1980-2014 (Min)","% Change in Mortality Rate, 1980-2014 (Max)",test,final
2,"Autauga County, Alabama",1001.0,Neonatal disorders,9.58,8.37,11.02,7.50,6.56,8.58,6.76,...,4.19,5.49,4.56,3.96,5.21,-52.43,-60.01,-46.16,"Autauga, Alabama",Autauga
3,"Baldwin County, Alabama",1003.0,Neonatal disorders,8.75,7.86,9.81,6.54,5.88,7.27,5.76,...,3.53,4.48,3.68,3.25,4.08,-57.97,-64.96,-52.87,"Baldwin, Alabama",Baldwin
4,"Barbour County, Alabama",1005.0,Neonatal disorders,12.30,10.64,14.15,9.26,8.13,10.60,8.12,...,5.16,6.84,5.43,4.63,6.24,-55.86,-62.49,-50.32,"Barbour, Alabama",Barbour
5,"Bibb County, Alabama",1007.0,Neonatal disorders,11.28,9.63,13.14,8.88,7.57,10.27,7.92,...,5.32,7.27,5.89,4.98,6.85,-47.76,-56.13,-40.11,"Bibb, Alabama",Bibb
6,"Blount County, Alabama",1009.0,Neonatal disorders,6.05,5.22,6.97,4.80,4.18,5.47,4.42,...,3.16,4.23,3.52,2.99,4.06,-41.80,-52.54,-33.49,"Blount, Alabama",Blount

In [25]:
mort_cols = ["final", "Category", "Mortality Rate, 1980*", "Mortality Rate, 1985*", "Mortality Rate, 1990*", 
             "Mortality Rate, 1995*", "Mortality Rate, 2000*", "Mortality Rate, 2005*", "Mortality Rate, 2010*", 
             "Mortality Rate, 2014*", "% Change in Mortality Rate, 1980-2014"]
mort_clean_df = mortality_data_df2[mort_cols].copy()
mort_clean_df = mort_clean_df.rename(columns={"final":"county", "Category":"category", "Mortality Rate, 1980*":"mort_1980", 
                                              "Mortality Rate, 1985*":"mort_1985", "Mortality Rate, 1990*":"mort_1990", 
                                              "Mortality Rate, 1995*":"mort_1995", "Mortality Rate, 2000*":"mort_2000", 
                                              "Mortality Rate, 2005*":"mort_2005", "Mortality Rate, 2010*":"mort_2010", 
                                              "Mortality Rate, 2014*":"mort_2014", "% Change in Mortality Rate, 1980-2014":"percent_mort_change"})
mort_clean_df.set_index("county", inplace=True)
mort_clean_df.head()

,category,mort_1980,mort_1985,mort_1990,mort_1995,mort_2000,mort_2005,mort_2010,mort_2014,percent_mort_change
county,,,,,,,,,,
Autauga,Neonatal disorders,9.58,7.50,6.76,5.24,5.26,5.55,4.83,4.56,-52.43
Baldwin,Neonatal disorders,8.75,6.54,5.76,4.65,4.56,4.55,4.02,3.68,-57.97
Barbour,Neonatal disorders,12.30,9.26,8.12,6.60,6.65,6.90,5.99,5.43,-55.86
Bibb,Neonatal disorders,11.28,8.88,7.92,6.44,6.59,7.14,6.29,5.89,-47.76
Blount,Neonatal disorders,6.05,4.80,4.42,3.68,3.78,4.06,3.70,3.52,-41.80

### Create database connection

In [7]:
rds_connection_string = "postgres:postgres@localhost:5432/Pandas"
#rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [8]:
# Confirm tables
engine.table_names()

['premise', 'county']

### Load dataframes into database

In [9]:
premise_df.to_sql(name = 'premise', con=engine, if_exists='append', index=True)

NameError: name 'premise_df' is not defined

In [ ]:
county_df.to_sql(name = 'county', con=engine, if_exists='append', index=True)

In [ ]:
county_from_sql_df = pd.read_sql_query("select * from county ", con=engine).head()

In [ ]:
county_from_sql_df