In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into dataframes

In [2]:
#read and confirm files from emissions dataset
emission1980_file = "annual_aqi_by_county_1980.csv"
emission1985_file = "annual_aqi_by_county_1985.csv"
emission1990_file = "annual_aqi_by_county_1990.csv"
emission1995_file = "annual_aqi_by_county_1995.csv"
emission2000_file = "annual_aqi_by_county_2000.csv"
emission2005_file = "annual_aqi_by_county_2005.csv"
emission2010_file = "annual_aqi_by_county_2010.csv"
emission2014_file = "annual_aqi_by_county_2014.csv"

emission1980_data_df = pd.read_csv(emission1980_file)
emission1985_data_df = pd.read_csv(emission1985_file)
emission1990_data_df = pd.read_csv(emission1990_file)
emission1995_data_df = pd.read_csv(emission1995_file)
emission2000_data_df = pd.read_csv(emission2000_file)
emission2005_data_df = pd.read_csv(emission2005_file)
emission2010_data_df = pd.read_csv(emission2010_file)
emission2014_data_df = pd.read_csv(emission2014_file)

In [3]:
#join the emissions dataset
emission_all_df = pd.concat((emission1980_data_df ,emission1985_data_df, emission1990_data_df, emission1995_data_df, \
                  emission2000_data_df, emission2005_data_df, emission2010_data_df, emission2014_data_df), join="outer")
emission_all_df.head()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,Alabama,Autauga,1980,179,122,35,18,4,0,0,177,108,40,0,0,122,57,0,0
1,Alabama,Colbert,1980,274,127,45,63,39,0,0,200,165,56,0,0,0,274,0,0
2,Alabama,Jackson,1980,366,85,110,92,79,0,0,200,200,94,0,0,0,366,0,0
3,Alabama,Jefferson,1980,343,171,109,37,19,7,0,221,140,51,207,0,136,0,0,0
4,Alabama,Lauderdale,1980,274,120,58,77,19,0,0,200,139,56,0,0,0,274,0,0

In [4]:
#read and confirm files from mortality dataset
mortality_file = "mort.csv"
mortality_data_df = pd.read_csv(mortality_file)
mortality_data_df.head()

,Location,FIPS,Category,"Mortality Rate, 1980*","Mortality Rate, 1980* (Min)","Mortality Rate, 1980* (Max)","Mortality Rate, 1985*","Mortality Rate, 1985* (Min)","Mortality Rate, 1985* (Max)","Mortality Rate, 1990*",...,"Mortality Rate, 2005* (Max)","Mortality Rate, 2010*","Mortality Rate, 2010* (Min)","Mortality Rate, 2010* (Max)","Mortality Rate, 2014*","Mortality Rate, 2014* (Min)","Mortality Rate, 2014* (Max)","% Change in Mortality Rate, 1980-2014","% Change in Mortality Rate, 1980-2014 (Min)","% Change in Mortality Rate, 1980-2014 (Max)"
0,United States,NaN,Neonatal disorders,9.18,8.83,9.93,6.91,6.73,7.36,6.09,...,4.55,3.75,3.43,3.85,3.32,3.02,3.45,-63.85,-68.95,-61.55
1,Alabama,1.0,Neonatal disorders,11.03,10.57,12.00,8.51,8.25,9.12,7.52,...,6.52,5.58,5.16,5.78,5.10,4.67,5.32,-53.82,-60.08,-50.77
2,"Autauga County, Alabama",1001.0,Neonatal disorders,9.58,8.37,11.02,7.50,6.56,8.58,6.76,...,6.30,4.83,4.19,5.49,4.56,3.96,5.21,-52.43,-60.01,-46.16
3,"Baldwin County, Alabama",1003.0,Neonatal disorders,8.75,7.86,9.81,6.54,5.88,7.27,5.76,...,5.03,4.02,3.53,4.48,3.68,3.25,4.08,-57.97,-64.96,-52.87
4,"Barbour County, Alabama",1005.0,Neonatal disorders,12.30,10.64,14.15,9.26,8.13,10.60,8.12,...,7.89,5.99,5.16,6.84,5.43,4.63,6.24,-55.86,-62.49,-50.32

### Transform mortality dataframe

In [5]:
# edit county names in mortality dataset
mortality_data_df['county']= mortality_data_df.Location.replace({' County,':''}, regex=True)
mortality_data_df.head()

,Location,FIPS,Category,"Mortality Rate, 1980*","Mortality Rate, 1980* (Min)","Mortality Rate, 1980* (Max)","Mortality Rate, 1985*","Mortality Rate, 1985* (Min)","Mortality Rate, 1985* (Max)","Mortality Rate, 1990*",...,"Mortality Rate, 2010*","Mortality Rate, 2010* (Min)","Mortality Rate, 2010* (Max)","Mortality Rate, 2014*","Mortality Rate, 2014* (Min)","Mortality Rate, 2014* (Max)","% Change in Mortality Rate, 1980-2014","% Change in Mortality Rate, 1980-2014 (Min)","% Change in Mortality Rate, 1980-2014 (Max)",county
0,United States,NaN,Neonatal disorders,9.18,8.83,9.93,6.91,6.73,7.36,6.09,...,3.75,3.43,3.85,3.32,3.02,3.45,-63.85,-68.95,-61.55,United States
1,Alabama,1.0,Neonatal disorders,11.03,10.57,12.00,8.51,8.25,9.12,7.52,...,5.58,5.16,5.78,5.10,4.67,5.32,-53.82,-60.08,-50.77,Alabama
2,"Autauga County, Alabama",1001.0,Neonatal disorders,9.58,8.37,11.02,7.50,6.56,8.58,6.76,...,4.83,4.19,5.49,4.56,3.96,5.21,-52.43,-60.01,-46.16,Autauga Alabama
3,"Baldwin County, Alabama",1003.0,Neonatal disorders,8.75,7.86,9.81,6.54,5.88,7.27,5.76,...,4.02,3.53,4.48,3.68,3.25,4.08,-57.97,-64.96,-52.87,Baldwin Alabama
4,"Barbour County, Alabama",1005.0,Neonatal disorders,12.30,10.64,14.15,9.26,8.13,10.60,8.12,...,5.99,5.16,6.84,5.43,4.63,6.24,-55.86,-62.49,-50.32,Barbour Alabama

In [6]:
# Transform Emission data
emission_all_df["County"] = emission_all_df["County"].str.cat(emission_all_df["State"], sep =" ")
emission_all_df.head()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,Alabama,Autauga Alabama,1980,179,122,35,18,4,0,0,177,108,40,0,0,122,57,0,0
1,Alabama,Colbert Alabama,1980,274,127,45,63,39,0,0,200,165,56,0,0,0,274,0,0
2,Alabama,Jackson Alabama,1980,366,85,110,92,79,0,0,200,200,94,0,0,0,366,0,0
3,Alabama,Jefferson Alabama,1980,343,171,109,37,19,7,0,221,140,51,207,0,136,0,0,0
4,Alabama,Lauderdale Alabama,1980,274,120,58,77,19,0,0,200,139,56,0,0,0,274,0,0

### Drop columns in both dataframes

In [7]:
# drop unnecessary columns (min/max)
emission_cols = ["County", "Unhealthy Days", "Very Unhealthy Days", "Hazardous Days", "Max AQI", "Median AQI", "Days SO2", "Days PM2.5"]
emission_clean_df = emission_all_df[emission_cols].copy()
emission_clean_df = emission_clean_df.rename(columns={"County":"county", "Unhealthy Days":"unhealthy_days", 
                                                      "Very Unhealthy Days":"very_unhealthy_days", 
                                                      "Hazardous Days":"hazardous_days", "Max AQI":"max_aqi", 
                                                      "Median AQI":"median_aqi","Days SO2":"days_so2", 
                                                      "Days PM2.5":"days_pm25"})
emission_clean_df.set_index("county", inplace=True)
emission_clean_df.head()

,unhealthy_days,very_unhealthy_days,hazardous_days,max_aqi,median_aqi,days_so2,days_pm25
county,,,,,,,
Autauga Alabama,4,0,0,177,40,57,0
Colbert Alabama,39,0,0,200,56,274,0
Jackson Alabama,79,0,0,200,94,366,0
Jefferson Alabama,19,7,0,221,51,0,0
Lauderdale Alabama,19,0,0,200,56,274,0

In [8]:
mortality_data_df = mortality_data_df.dropna(how="any")
mortality_data_df
mortality_data_df2 = mortality_data_df[mortality_data_df['FIPS']>1000]
mortality_data_df2.head()

,Location,FIPS,Category,"Mortality Rate, 1980*","Mortality Rate, 1980* (Min)","Mortality Rate, 1980* (Max)","Mortality Rate, 1985*","Mortality Rate, 1985* (Min)","Mortality Rate, 1985* (Max)","Mortality Rate, 1990*",...,"Mortality Rate, 2010*","Mortality Rate, 2010* (Min)","Mortality Rate, 2010* (Max)","Mortality Rate, 2014*","Mortality Rate, 2014* (Min)","Mortality Rate, 2014* (Max)","% Change in Mortality Rate, 1980-2014","% Change in Mortality Rate, 1980-2014 (Min)","% Change in Mortality Rate, 1980-2014 (Max)",county
2,"Autauga County, Alabama",1001.0,Neonatal disorders,9.58,8.37,11.02,7.50,6.56,8.58,6.76,...,4.83,4.19,5.49,4.56,3.96,5.21,-52.43,-60.01,-46.16,Autauga Alabama
3,"Baldwin County, Alabama",1003.0,Neonatal disorders,8.75,7.86,9.81,6.54,5.88,7.27,5.76,...,4.02,3.53,4.48,3.68,3.25,4.08,-57.97,-64.96,-52.87,Baldwin Alabama
4,"Barbour County, Alabama",1005.0,Neonatal disorders,12.30,10.64,14.15,9.26,8.13,10.60,8.12,...,5.99,5.16,6.84,5.43,4.63,6.24,-55.86,-62.49,-50.32,Barbour Alabama
5,"Bibb County, Alabama",1007.0,Neonatal disorders,11.28,9.63,13.14,8.88,7.57,10.27,7.92,...,6.29,5.32,7.27,5.89,4.98,6.85,-47.76,-56.13,-40.11,Bibb Alabama
6,"Blount County, Alabama",1009.0,Neonatal disorders,6.05,5.22,6.97,4.80,4.18,5.47,4.42,...,3.70,3.16,4.23,3.52,2.99,4.06,-41.80,-52.54,-33.49,Blount Alabama

In [9]:
mort_cols = ["county", "Category", "Mortality Rate, 1980*", "Mortality Rate, 1985*", "Mortality Rate, 1990*", 
             "Mortality Rate, 1995*", "Mortality Rate, 2000*", "Mortality Rate, 2005*", "Mortality Rate, 2010*", 
             "Mortality Rate, 2014*", "% Change in Mortality Rate, 1980-2014"]
mort_clean_df = mortality_data_df2[mort_cols].copy()
mort_clean_df = mort_clean_df.rename(columns={"county":"county", "Category":"category", "Mortality Rate, 1980*":"mort_1980", 
                                              "Mortality Rate, 1985*":"mort_1985", "Mortality Rate, 1990*":"mort_1990", 
                                              "Mortality Rate, 1995*":"mort_1995", "Mortality Rate, 2000*":"mort_2000", 
                                              "Mortality Rate, 2005*":"mort_2005", "Mortality Rate, 2010*":"mort_2010", 
                                              "Mortality Rate, 2014*":"mort_2014", "% Change in Mortality Rate, 1980-2014":"percent_mort_change"})
mort_clean_df.set_index("county", inplace=True)
mort_clean_df.head()

,category,mort_1980,mort_1985,mort_1990,mort_1995,mort_2000,mort_2005,mort_2010,mort_2014,percent_mort_change
county,,,,,,,,,,
Autauga Alabama,Neonatal disorders,9.58,7.50,6.76,5.24,5.26,5.55,4.83,4.56,-52.43
Baldwin Alabama,Neonatal disorders,8.75,6.54,5.76,4.65,4.56,4.55,4.02,3.68,-57.97
Barbour Alabama,Neonatal disorders,12.30,9.26,8.12,6.60,6.65,6.90,5.99,5.43,-55.86
Bibb Alabama,Neonatal disorders,11.28,8.88,7.92,6.44,6.59,7.14,6.29,5.89,-47.76
Blount Alabama,Neonatal disorders,6.05,4.80,4.42,3.68,3.78,4.06,3.70,3.52,-41.80

### Create database connection

In [10]:
rds_connection_string = "postgres:postgres@localhost:5432/ETL_Project"
#rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [11]:
# Confirm tables
engine.table_names()

['emissions', 'mortality']

### Load dataframes into database

In [12]:
mort_clean_df.to_sql(name = 'mortality', con=engine, if_exists='append', index=True)

In [13]:
emission_clean_df.to_sql(name = 'county', con=engine, if_exists='append', index=True)

In [14]:
mort_from_sql_df = pd.read_sql_query("select * from mortality", con=engine).head()

In [16]:
mort_from_sql_df.set_index("id")

,county,category,mort_1980,mort_1985,mort_1990,mort_1995,mort_2000,mort_2005,mort_2010,mort_2014,percent_mort_change
id,,,,,,,,,,,
1,Autauga Alabama,Neonatal disorders,10,8,7,5,5,6,5,5,-52
2,Baldwin Alabama,Neonatal disorders,9,7,6,5,5,5,4,4,-58
3,Barbour Alabama,Neonatal disorders,12,9,8,7,7,7,6,5,-56
4,Bibb Alabama,Neonatal disorders,11,9,8,6,7,7,6,6,-48
5,Blount Alabama,Neonatal disorders,6,5,4,4,4,4,4,4,-42